.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputMask {
  padding: 32px 23px 6px 23px;
  font-size: 20px;
  line-height: 32px;
  background-color: transparent;
  box-sizing: border-box;
  color: #141414;
  display: inline-block;
  font-family: GerberaRegular, "Segoe UI", "Droid Sans", Roboto, Helvetica, Arial, sans-serif;
  border-radius: 16px;
}

.inputMask:focus {
  outline: none;
}

.inputMask::selection {
  background-color: #7733ff36;
}

.field-label {
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  top: 9px;
  left: 23px;
  right: 23px;
}

.label {
  position: relative;
}


